# Core functionality - changes here should be rare!
/src/app.py                   @petraemily
/src/backend/database.py      @petraemily
/src/backend/routers/auth.py  @petraemily

# The frontend will need refactored soon to be more object oriented.
/src/static/   @petraemily
